body, html{
  height:100%;
}

body{
  margin: 0px;
  background-color: white;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.square{
  background-image: url("https://i.pinimg.com/originals/c5/3b/da/c53bda5fb2569fd32c3118f926e78415.gif");
  position: absolute;
  background-color: white;
  width: 360px;
  height: 320px;
}

.fade{
  background-image: url("https://media.tenor.com/images/36e2f86ffaa3d8140a6ea33d864e3914/tenor.gif");
  position: absolute;
  background-color: white;
  width: 160px;
  height: 220px;
}

